/*HEADER-TOP-SECTION*/
header{
    position: relative;

     .header-top-section{
        background-color: #090935;
        .top-content{
            display: flex;
            justify-content: space-between;
            /*MEDIA QUERY*/
            @media(max-width:850px){
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                gap: 20px;
            }

            .top-bar-menu{
                padding: 10px;
                a{
                   text-decoration: none;
                   color: aliceblue;
                }
            }

            .top-bar-right{
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 20px;
                button{
                    background-color: #ff4500;
                    padding: 10px;
                    border: none;
                    width: 120px;
                    color: aliceblue;
                }
            }

        }

     }

/*NAVIGATION*/
nav{

    .logo{
        display: flex;
        align-items: center;
        gap: 10px;

        h2{
            color: #090935;
        }
    }

    .navigation-icons{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    p{
        box-shadow: 0 5px 10px 0 rgba(224, 213, 224, 0.2), 0 7px 21px 0 rgba(24, 5, 24, 0.2);
        padding: 10px;
    }

    /*NAVBAR-NAV*/
    .navbar-nav{
         
        .nav-item{
            a{
                font-size: 17px;
                color: #0000;
            }
            
        }

    }

    .dropdown{
       .dropdown-menu{
         border-top: 5px solid #ff4500;
         border-radius:0px ;
         padding: 20px;
         a{
            color:#808080
         }
         button{
            background-color: #ff4500;
            border-radius: 2px;
            color: #f0f8ff;
            font-size: 12px;
            border: none;
         }
       }
    }

   
  }
}

/*showcase*/
.showcase-section{
    background-image: url(images/mai23.jpg);
    background-position: center;
    background-size: cover;
    .content{
        padding: 100px 0 100px;
        .showcase{
            .links{
                display: flex;
                align-items: center;
                gap: 80px;
                flex-direction: row;

                a{
                    text-decoration: none;
                    font-size: 20px;
                    color: #090935;
                }

                .icon{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    flex-direction: row;
                }
            }
        }
    }
}


/*ABOUT-US*/
.about-us-section{
  

    span{
        background-color: #f3dfe3;
        padding: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn{
        padding: 5px;
        border: none;
        border-radius: 20px;
        background-color: #f3dfe3;
        width: 100px;
        color: #ff4500;
    }

    .btn1{
        background-color: #ff4500;
        padding: 20px;
        color: #f0f8ff;
        font-size: 17px;
        border: none;
        width: 200px;
    }

    .para{
        background-color:#f7e5e8 ;
        padding: 20px;
        border-left: 4px solid #ff4500;
    }

    .about-us-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        /*MEDIA*/
        @media(max-width:1200px){
            grid-template-columns: 1fr;
            gap: 30px;
        }

        .about-us-img{
            position: relative;
            .img2{
              position: absolute;
              width: 250px;
              height: 200px;
              bottom: 0;
              left: 10px;
              top: 400px;
              border-radius: 5px;
            }

            /*media query*/
            @media(max-width:650px){
                .img1{
                    width: 100%;
                }

                .img2{
                    position: absolute;
                    width: 200px;
                    height: 150px;
                    bottom: 0;
                    left: 10px;
                    top: 350px;
                    border-radius: 5px;
                  }
            }
        }

        .about{
            p,h6{
                color: #808080;
            }
          
            .service{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                .popular{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                }
                /*MEDIA QUERY*/
                @media(max-width:750px){
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 10px;
                }
                

                h5{
                    padding: 10px;
                }
            }
        }
    }
}


/*OUR-SERVICES-SECTION*/
.our-services-section{
    background-color: #edf5f5;
    .btn{
        padding: 5px;
        border: none;
        border-radius: 20px;
        background-color: #f3dfe3;
        width: 120px;
        color: #ff4500;
    }
     .services-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        /*MEDIA QUERY*/
        @media(max-width:1000px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
        }

        @media(max-width:770px){
            display: grid;
            grid-template-columns: 1fr;
            gap: 40px;
        }

        .content{
            box-shadow: 0 5px 10px 0 rgba(224, 213, 224, 0.2), 0 7px 21px 0 rgba(24, 5, 24, 0.2);
            padding: 20px;
            text-align: center;
            background-color: #fff;
            h3{
                color: #000;
            }         
            color: #808080;

            button{
              background-color: transparent;
              border: none;  
            }
        }
      
        .content:hover{
            border-bottom: 3px solid #ff4500;

            button{
                color: #ff4500;
            }
        }

     }
}

/*Team-Section*/
.team-section{
    img{
        width: 100%;
    }
    
    .btn{
        padding: 5px;
        border: none;
        border-radius: 20px;
        background-color: #f3dfe3;
        width: 120px;
        color: #ff4500;
        font-size: 20px;
    }
    .team-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        /*MEDIA QUERY*/
        @media(max-width:1000px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
        }

        @media(max-width:750px){
            display: grid;
            grid-template-columns: 1fr;
            gap: 40px;
        }

        .agent{

            box-shadow: 0 5px 10px 0 rgba(224, 213, 224, 0.2), 0 7px 21px 0 rgba(24, 5, 24, 0.2);
            .description{
                padding:10px;
                display: flex;
                flex-direction: column;
                text-align: center;    

                .icon-section{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap:20px
                }

                h5{
                    color: #f14d12;
                }
            }
        }
    }
}



 /*clients-feedback-section*/
 .clients-feedback-section{
    .content{
        background-image: url(images/mai24.jpg);
        background-position: center;
        background-size: cover;
  
      .btn{
          padding: 5px;
          border: none;
          border-radius: 20px;
          background-color: #f3dfe3;
          width: 200px;
          color: #ff4500;
      }
      .client-testimonial{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 40px;
          /*MEDIA QUERY*/
          @media(max-width:1000px){
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 40px;
          }
  
          @media(max-width:770px){
              display: grid;
              grid-template-columns: 1fr;
              gap: 40px;
          }
  
          img{
            width: 50px;
            height: 50px;
            border-radius: 50px;
          }
      
          .testimonial{
              box-shadow: 0 5px 10px 0 rgba(117, 115, 117, 0.2), 0 7px 21px 0 rgba(110, 108, 110, 0.2);
              background-color:  #fff;
              padding: 40px;
              border-radius: 10px;
              .image{
                display: flex;
                align-items: center;
                gap: 10px;
              }
          }
       }
  
       .testimonial:hover{
          border-bottom: 5px solid #ff4500;
       }
   }
  }
  
  /*news-and-bog-section*/
  .news-and-bog-section{
         
      .btn{
          padding: 5px;
          border: none;
          border-radius: 20px;
          background-color: #f3dfe3;
          width: 200px;
          color: #ff4500;
      }
  
         img{
          width: 100%;
         }      
          .content{
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              gap: 40px;
              /*MEDIA QUERY*/
              @media(max-width:1000px){
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  gap: 40px;
              }
  
              @media(max-width:770px){
                  display: grid;
                  grid-template-columns: 1fr;
                  gap: 40px
              }
  
  
            .news{
              box-shadow: 0 5px 10px 0 rgba(117, 115, 117, 0.2), 0 7px 21px 0 rgba(110, 108, 110, 0.2);
              .description{
               padding: 20px;
               .icons{
                   display:flex;
                   flex-direction: row;
                   align-items: center;
                   gap:30px;
   
               }
   
               p{
                   color: #808080;
               }
   
               .more{
                   display: flex;
                   align-items: center;
                   justify-content: space-between;
   
                   button{
                       color: #ff4500;
                       background-color: transparent;
                       border: none;
                       font-size: 20px;
                   }
               }
           }
            }
         }
  
          h4:hover{
           color: #fa7a4b;
          }
       
  }
  
  /*FOOTER-SECTION*/
      .looking-for-dream-home-section{
          background-color: #f0774b;
          color: #edf5f5;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 40px;
          position: relative;
          top: 100px;
          /*MEDIA QUERY*/
          @media(max-width:992px){
            display: flex;
            flex-direction: column;
             text-align: center;
          }
  
          button{
             padding: 10px;
             border: none;
             background-color: #f0f8ff;
             color: #000;
             font-size: 20px;
             width: 230px;
          }
      }
      
  
      button:hover{
          background-color: #000;
          color: #f0f8ff;
      }
  
      footer{  
          background-color: #121229;
      .footer{
          .content{
           
              color: #edf5f5;
              display: grid;
              grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
              /*MEDIA QUERY*/
              @media(max-width:1000px){
                  display: grid;
                  grid-template-columns: 1fr 1fr  ;
              }

              @media(max-width:700px){
                display: grid;
                grid-template-columns: 1fr;
             }
  
              .company{
                  span{
                      display: none;
                      color:#f15c26 ;
                  }
  
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
              }
  
  
              .services{
                  span{
                      display: none;
                      color:#f15c26 ;
                  }
  
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
              }
  
              .costumer-care{
                  span{
                      display: none;
                      color:#f15c26 ;
                  }
  
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
              }
  
              .news-letter{
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
  
                  button{
                      width: 200px;
                      padding: 10px;
                      background-color: #edf5f5;
                      color: #090935;
                      border: none;
                  }
              }
  
  
              p:hover{
                  color: #f15c26;
  
                  span{
                      display: block;
                  }
              }
          }
      }
  }
  
  /*All-Right-Section*/
  .all-right-section{
      background-color:#202031;
      .content{
          display: flex;
          align-items:center ;
          justify-content: space-between;
          padding: 10px;
          color: #edf5f5;
           /*MEDIA QUERY*/
           @media(max-width:750px){
            display: flex;
            flex-direction: column;
            gap: 20px;
          }
          .links{
              a{
                  text-decoration: none;
                  padding: 10px;
                  color: #edf5f5;
                  font-size: 20px;
              }
          }
  
          a:hover{
              color: #f0774b;
          }
      }
  }